<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/profile1.jpg" alt="luci" class="img-fluid about_img" title="lucifer">
                        </figure> 
                    </div>
                    
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Lucifer World.</p>
                        <h2>I Am A <span class="weather_txt">Web Developer</span> Explorer And A Freelancer!</h2>
                        <button class="btn btn-primary">My Website</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}

    {{>footlinks}}
</body>

</html>